CONFIG = {
    'mode': 'django',
    'user': 'riddler',
    'group': 'riddler',
    'args': (
        '--bind=127.0.0.1:9001',
        '--workers=2',
        '--worker-class=egg:gunicorn#sync',
        'riddler.settings',
    ),
}